section {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  height: 40rem;
  border: 1px solid black;
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-container {
  height: 40rem;
  width: 25rem;
  overflow-y: scroll;
  .character-styling {
    height: 5rem;
    display: flex;
    align-items: center;
    background: black;
    padding-left: 1rem;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
}
