section {
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  height: 40rem;
  border: 1px solid black;
  width: 25rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  border-radius: 1rem;
}

.film-container {
  border-radius: 1rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  height: 40rem;
  width: 25rem;
  overflow-y: scroll;
  .film-styling {
    border-radius: 0;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background: black;
    padding: 0;
    justify-content: center;
    transition: 0.3s all ease-in-out;
    &:hover {
      opacity: 0.6;
    }
  }
  a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }
}
